.cart {
  position: relative;

  &:where(:hover, :focus-visible) svg path,
  &__button[aria-expanded="true"] svg path {
    fill: $clr-primary-400;
    transition: fill 0.2s;
  }

  &__total-quantity {
    position: absolute;
    top: -0.8rem;
    right: -0.8rem;
    width: 2rem;
    height: 1.5rem;
    display: grid;
    place-content: center;
    border-radius: 1rem;

    background-color: $clr-primary-400;
    color: $clr-neutral-100;
    font-size: $fs-100;
    font-weight: $fw-bold;
  }
}
