.primary-button {
  &,
  &:where(:link, :visited) {
    display: inline-block;
    width: fit-content;
    margin-inline: auto;
    padding: 1.1em 2.2em;
    font-size: $fs-100;
    text-transform: uppercase;
    letter-spacing: $ls-4;
    transition: background-color 0.2s ease-in;
  }

  &--orange {
    background-color: $clr-primary-400;
    color: $clr-neutral-100;

    &:is(:hover, :focus-visible) {
      background-color: $clr-accent-100;
    }
  }

  &--white {
    color: $clr-neutral-900;
    border: 1px solid currentColor;

    &:is(:hover, :focus-visible) {
      background-color: $clr-neutral-900;
      color: $clr-neutral-100;
    }
  }

  @include respond-to("desktop") {
    margin-inline: 0;
  }
}
