.primary-button {
  &,
  &:where(:link, :visited) {
    display: inline-block;
    width: fit-content;
    padding: 1.1em 3em;
    font-size: $fs-100;
    text-transform: uppercase;
    letter-spacing: $ls-4;
    transition: all 0.1s ease-in;

    &:where(:hover, :focus-visible) {
      background-color: $clr-accent-100;
      translate: 0 -0.2rem;
      box-shadow: $box-shadow-400;
    }

    &:where(:active) {
      translate: 0;
      box-shadow: unset;
    }
  }

  &--orange {
    background-color: $clr-primary-400;
    color: $clr-neutral-100;
  }

  &--white {
    color: $clr-neutral-900;
    border: 1px solid currentColor;

    &:where(:hover, :focus-visible) {
      background-color: $clr-neutral-900;
      color: $clr-neutral-100;
      border: 1px solid $clr-neutral-900;
    }
  }

  &[aria-disabled="true"] {
    background-color: $clr-accent-100;
    cursor: not-allowed;
  }
}
