.primary-navigation {
  &--header {
    grid-area: logo;
    display: none;
  }

  &__list {
    height: 100%;
  }

  &__item:not(:last-of-type) {
    margin-bottom: 2rem;
  }

  &__link {
    &:where(:link, :visited) {
      font-size: $fs-100;
      font-weight: $fw-bold;
      color: $clr-neutral-100;
      text-transform: uppercase;
      letter-spacing: $ls-7;
      transition: color 0.2s ease-in;
    }

    &:where(:hover, :focus-visible),
    &--active {
      color: $clr-primary-400;
    }
  }

  @include respond-to("desktop") {
    &--header {
      display: grid;
    }
  }

  @include respond-to("tablet") {
    &__list {
      display: flex;
      align-items: center;
      column-gap: 4rem;
    }

    &__item:not(:last-of-type) {
      margin: 0;
    }
  }
}
