/* ------------------------ */
/*          COLORS          */
/* ------------------------ */
$clr-primary-400: hsl(22, 65%, 57%);

$clr-accent-100: hsl(21, 94%, 75%);

$clr-neutral-900: hsl(0, 0%, 0%);
$clr-neutral-700: hsl(0, 0%, 6%);
$clr-neutral-600: #191919;

$clr-neutral-500: hsl(0, 0%, 49%);
$clr-neutral-400: hsla(0, 0%, 92%);
$clr-neutral-300: hsl(0, 0%, 95%);
$clr-neutral-200: hsl(0, 0%, 98%);
$clr-neutral-100--50: hsl(0, 0%, 100%, 0.5);
$clr-neutral-100--80: hsl(0, 0%, 100%, 0.2);
$clr-neutral-100: hsl(0, 0%, 100%);

/* ------------------------ */
/*        TYPOGRAPHY       */
/* ------------------------ */
// Font family
$ff-primary: "Manrope", sans-serif;

// Font size
$fs-1000: 5.6rem;
$fs-900: 4rem;
$fs-800: 3.6rem;
$fs-700: 3.2rem;
$fs-600: 2.8rem;
$fs-500: 2.4rem;
$fs-400: 1.8rem;
$fs-300: 1.5rem;
$fs-200: 1.4rem;
$fs-100: 1.3rem;

$fs-body: $fs-300;
$clr-body: $clr-neutral-500;

// Font weight
$fw-bold: 700;
$fw-medium: 500;
$fw-regular: 400;

// Letter Spacing
$ls-12: 10px;
$ls-11: 7px;
$ls-10: 2px;
$ls-9: 1.71px;
$ls-8: 1.43px;
$ls-7: 1.3px;
$ls-6: 1.15px;
$ls-5: 1.14px;
$ls-4: 1px;
$ls-3: 0.86px;
$ls-2: -0.21px;
$ls-1: -0.25px;

/* ------------------------ */
/*          SPACING         */
/* ------------------------ */
$fluid-margin-400: clamp(5rem, 10dvw, 10rem);

// Border Radius
$br-400: 1.2rem;
$br-300: 0.8rem;

// Breakpoints
$bp-desktop: 60em;
// $bp-desktop: 90em;
// $bp-tablet: 48em;
$bp-tablet: 35em;
$bp-mobile: 23.4375em;

$available-breakpoints: (
  "mobile": (
    min-width: $bp-mobile,
  ),
  "tablet": (
    min-width: $bp-tablet,
  ),
  "desktop": (
    min-width: $bp-desktop,
  ),
);

// Box shadows
$box-shadow-400: 1.95px 1.95px 2.6px rgba(0, 0, 0, 0.15);
