.primary-navigation-mobile {
  --_mobile-navigation-padding: 8rem;
  --_gap: 7rem;

  &__list {
    position: absolute;
    left: 0;
    top: var(--_primary-header-height);
    width: 100%;
    padding: var(--_mobile-navigation-padding) 0 2rem;
    background-color: $clr-neutral-100;
    border-bottom-left-radius: $br-400;
    border-bottom-right-radius: $br-400;
  }

  @include respond-to("desktop") {
    display: none;
  }
}
