.add-product-to-cart-form-group {
  display: flex;
  align-items: center;
  height: 5rem;

  &__control {
    background-color: $clr-neutral-200;
    padding-inline: 1em;
    line-height: 1;
    height: 100%;
    transition: all 200ms;

    &--quantity {
      display: grid;
      place-content: center;
      font-size: $fs-200;
      font-weight: bold;
      color: $clr-neutral-900;
    }

    &:not(&--quantity):where(:hover, :focus-visible) {
      background-color: $clr-neutral-400;

      & > svg > path {
        stroke: $clr-primary-400;
      }
    }
  }
}
