.primary-header {
  --_primary-header-height: clamp(9rem, 7vw, 9.7rem);

  position: sticky;
  top: 0;
  left: 0;
  z-index: 99999;

  height: var(--_primary-header-height);
  background-color: $clr-neutral-600;
  border-bottom: 1px solid $clr-neutral-100--80;

  &--black {
    background-color: $clr-neutral-900;
  }

  &__nav-wrapper {
    display: grid;
    grid-auto-flow: column;
    grid-template-areas: "hamburger logo cart";
    justify-content: space-between;
    align-content: center;
    height: var(--_primary-header-height);
  }

  &__logo {
    grid-area: logo;
  }

  @include respond-to("tablet") {
    border-bottom: none;

    &__nav-wrapper {
      grid-template-columns: repeat(2, min-content) 1fr;
      border-bottom: 1px solid $clr-neutral-100--80;
    }
  }

  @include respond-to("desktop") {
    &__nav-wrapper {
      grid-template-columns: none;
    }

    &__logo {
      grid-area: hamburger;
    }
  }
}
