.visually-hidden {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

.text-primary-400 {
  color: $clr-primary-400;
}

.container {
  $max-width: 80em;
  --_padding: 2rem;
  width: min($max-width, 100% - var(--_padding) * 2);
  margin: auto;
}

.backdrop-400 {
  position: fixed;
  width: 100dvw;
  height: 100dvh;
  top: 0;
  left: 0;
  z-index: 9999;
  overflow: auto;
  backdrop-filter: brightness(0.8);
}

.primary-heading {
  font-size: clamp($fs-800, 7vw + 0.2rem, $fs-1000);
  letter-spacing: clamp($ls-7, 0.2vw + 0.45px, $ls-10);
  text-transform: uppercase;
  color: $clr-neutral-100;

  &--black {
    color: $clr-neutral-900;
  }
}

.secondary-heading {
  font-size: clamp($fs-600, 5vw + 0.2rem, $fs-900);
  text-transform: uppercase;
  letter-spacing: clamp($ls-4, 0.2vw + 0.5px, $ls-10);

  &--category {
    color: $clr-neutral-100;
    letter-spacing: clamp($ls-8, 0.2vw + 0.4px, $ls-10);
  }
}

.tertiary-heading {
  font-size: clamp($fs-500, 4vw + 0.1rem, $fs-700);
  text-transform: uppercase;
  letter-spacing: clamp($ls-3, 0.16vw, $ls-5);
}

.border-radius-400 {
  border-radius: $br-400;
}

.border-radius-300 {
  border-radius: $br-300;
}

.fluid-margin-400 {
  margin-bottom: clamp(5rem, 10dvw, 10rem);
}

.new-product-text {
  font-size: $fs-200;
  font-weight: $fw-regular;
  color: $clr-primary-400;
  letter-spacing: $ls-12;
  text-transform: uppercase;
  margin-bottom: 1.5rem;

  &--white {
    color: $clr-neutral-100--50;
  }
}

.product-grid {
  display: grid;
  gap: 4rem;

  & > picture {
    order: -1;
  }

  @include respond-to("desktop") {
    grid-template-columns: repeat(2, 1fr);
    justify-content: space-between;
    align-items: center;

    & > picture {
      width: 85%;
      justify-self: end;
      order: unset;
    }

    &--picture-first {
      & > picture {
        justify-self: start;
        order: -1;
      }
    }
  }
}

.product-detail-grid {
  $gap: 3rem;

  display: grid;
  gap: $gap;
  // justify-items: center;
  align-content: center; // Center this element based on the grid container
  max-width: 60ch;
  // margin-inline: auto;
  // text-align: center;

  &--width-50 {
    max-width: 50ch;
  }

  @include respond-to("desktop") {
    justify-items: flex-start;
    text-align: left;
    margin-inline: 0;
  }
}

.categories-grid {
  --_gap: 7rem;
  display: grid;
  gap: var(--_gap);

  @include respond-to("tablet") {
    --_gap: 2rem;
    grid-auto-flow: column;
  }
}
